.navbar{
    background-color: black;
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;

    font-family: "Open Sans Light";
}

.navbar-logo{
    margin: 50px;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

.navbar-item{
    color: white;
    text-decoration: none;
}
