<body>
    <div class="news-body">
        <div class="news-header">
            <h1>News</h1>
            <hr>
        </div>
        <ul class="news-list">
            @for (item of newsList; track item.id) {
                <li class="news-item">
                    <button class="news-item-button" routerLink="{{item.id}}">
                        <img class="news_img" src="{{item.image}}">
                        <p class="news-descr">LOSDLASDLASLDASLDLAS</p>
                        <p class="news-date">Today at 22:22 0 0</p>
                    </button>
                </li>
            }
        </ul>
    </div>
</body>
