.sidebar{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 150px;
    height: 100%;
    padding: 0 7px;
    align-items: center;
}

.sidebar-item{
    width: 150px;
    height: 30px;

    background-color: rgb(246, 246, 246);
    border: none;
    border-radius: 3px;

    padding: 0;
    padding-right: 50px;
}
.sidebar-item:hover{
    background-color: rgb(214, 214, 214);
}