

#phones{
    position: absolute;
    display: flex;

    top: 19px;
    left: 170px;
    z-index: 1;
}
#image_phones{
    width: 460px;
}

#block_forms{
    float: right;
    margin-top: 36px;
    margin-right: 217px;

    display: flex;
    flex-direction: column;

    width: 350px;
    z-index: 2;
}

#form_login{
    display: flex;
    flex-direction: column;

    align-items: center;

    border: solid;
    border-color: lightgray;
    border-width: 1px;
}
#image_instagram_logo{
    margin-top: 28px;
    margin-bottom: 10px;

    width: 180px;

    align-self: center;
}
input{
    margin-top: 5px;

    height: 34px;

    width: 76%;

    background-color: #FAFAFA;

    border: solid;
    border-width: 1px;
    border-color: #DBDBDB;
    border-radius: 3px;

    color: #737373;
    font-size: 12px;
    text-indent: 4px;
    font-family: monospace;
}
#button_login{
    margin-top: 13px;

    height: 32px;
    width: 77%;

    background-color: #0095F6;
    color: white;

    border: none;
    border-radius: 7px;

    font-family: monospace;
    font-size: 15px;
}
#block_or{
    margin-top: 12px;

    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
}
.gray_line{
    align-self: center;

    width: 105px;
    height: 0.5px;

    background-color: lightgray;
    
}
#text_or{
    padding-left: 17px;
    padding-right: 17px;

    align-self: center;

    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #737373;
}
#link_facebook_login{
    margin-top: 10px;
    
    text-decoration: none;

    color:#0195F7;
    font-family: "Aptos", sans-serif;
    font-size: 14px;
}
#image_facebook_logo{
    width: 27px;
    margin-right: 5px;
    margin-bottom: -7px;
}
#link_password_recovery{
    margin-top: 24px;
    padding-bottom: 20px;

    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    color: #00376B;
}
#block_registration{
    margin-top: 10px;

    display: flex;
    flex-direction:column;
    align-items: center;

    border: solid;
    border-color: lightgray;
    border-width: 1px;
}
#text_registration{
    font-family: sans-serif;
    font-size: 14.5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#link_registration{
    text-decoration: none;
    color: #0195F7;
}
#block_applications{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 10px;

    font-family: sans-serif;
    font-size: 14px;
}
#buttons_download{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.image_marketplace{
    width: 35%;
}

footer{
	position: absolute;
	top: 120%;
	background-color: white;
	width: 99.33%;
	display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}
#links_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    font-size: 12px;
}
.link_footer{
    padding-left: 12px;
    color: darkgray;
    text-decoration: none;
}
#signature{
    margin-top: 20px;
    font-size: 11px;
    color:#737373;
}