@font-face {
    font-family: OpenSans;
    src: url(assets/fonts/OpenSans_Condensed-Regular.ttf) format(OpenType);
}
@font-face {
    font-family: Open Sans Light;
    src: url(assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf) format(TrueType);
}
body{
    margin: 0;
}