<body>
  <div id="globalContainer">
    <div id="main">
      <div id="content">
        <div id="logo">
          <h1 id="logo_img">WSP</h1>
          <p id="logo_descr">Kazakh-British Technological University educational platform</p>
        </div>
          <div id="form_block">
            <form id="login_form">
              <div id="login_inputs">
                <input type="text" placeholder="Username">
                <input type="password" placeholder="Password">
                <button type="submit" id="login_btn" (click)="login()">Log In</button>
                <a href="#">Reset Password</a>
              </div>
            </form>
            <a href="#">Application for student dormitory</a>
            <a href="#">Scolarships</a>
          </div>
      </div>
    </div>
  </div> 
</body>